<div class="main-container gamen">
    <header class="header-4">
    	<div class="header_area">
			 <img src="{{logoPath}}" class="logoPath center-a" routerLink="/"/>
	        <button class="btn btn-success" routerLink="form">遊びを作成する</button>
	        <button class="btn btn-primary" routerLink="login">ログイン</button>
			<button class="btn btn-success-outline" routerLink="signup">新規登録</button>
		</div>
    </header>
	<!-- <router-outlet></router-outlet> -->
	<span class="br"></span>
    <div class="footer_area">
	<span class="br"></span>
	<span class="br"></span>
	<span class="br"></span>
	<span class="text-center">© playindoor</span>
    </div>
</div>
