.setumei1 h2{
	text-decoration: underline;
}
.setumei2{
  background-color: #F1F1F1;
}
.font-large{
  font-size: 48px;
}
.font-35{
  font-size: 35px;
}
.font-10{
  font-size: 10px;
}
.font-15{
  font-size: 15px;
}
.font-13{
  font-size: 13px;
}
.list-none{
  list-style:none;
}
.margin-10{
  margin: 10px;
}
.font-light{
  font-weight: lighter;
}
.font-color-gray{
  color:#9B9B9B;
}
.background-color-red{
  background-color: red;
}
.background-color-white{
  background-color: #FFFFFF;
}
.under-border{
  padding: .5em .75em;
  background-color: #f6f6f6;
  border-bottom: 1px solid #ccc;
}
.full-border{
  padding: .5em .75em;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
}
.text-center{
	text-align: center;
}
.main{
  background-color: white;
}
.margin-right-zero{
  margin-right: 0;
}
.frame-80{
  max-width: 80%;
  margin: 0 auto;
}
.width-100{
  width: 100%;
}
.float-right{
  float:right;
}
.float-left{
  float:left;
}
.inline-block{
    display: inline-block;
}
.float-center{
  float:center;
}
.margin-left-zero{
  margin-left: 0;
}
.margin-left-10{
  margin-left: 20px;
}
.margin-left-0{
  margin-left: 0px;
}
.margin-top-0{
  margin-top: 0px;
}
.line-breaker {
  white-space: pre-wrap;
}
.br::before {
	content: "\A" ;
	white-space: pre ;
}
.strong{
  font-weight: bold;
}
.under-line{
  text-decoration: underline;
}
.center{
  margin: 0 auto;
}
.center-a{
  vertical-align: middle;
}
.header_area{
  width: 100%;
  background-color: #DD63ED;
}
.footer_area{
  width: 100%;
  background-color: #2D2D2D;
  color: white
}
.maru-button {
position: relative;
border-radius: 20px;
font-weight: bold;
padding: 1em 2em;
text-decoration: none;
/*color: #00BCD4;*/
/*background: #FF94E7;*/
transition: .4s;
}
.maru-button :hover {
background: white;
color: white;
} 
.font-color-black{
  color:#00000;
}
.line{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 1px 0 rgba(255,255,255,1);
}
.margin-vertical-10{
  margin:50px 0px;
}
  
/*  以下、SNSロゴで使用*/
.fl_tw {
text-decoration: none;
display: inline-block;
text-align: center;
color: #1da1f3;
font-size: 25px;
text-decoration: none;
}.fl_tw:hover {
color:#88daff;
transition: .5s;
}.fl_tw .twicon{
border-radius: 10px;
position: relative;
display: inline-block;
width: 50px;
height: 50px;
font-size: 35px;
line-height: 50px;
vertical-align: middle;
color: #FFF;
background: #1da1f3;
}.fl_tw .twicon .fa {
line-height: 50px;
} 
.fl_fb {
text-decoration: none;
display: inline-block;
text-align: center;
color: #4966a0;;
font-size: 25px;
text-decoration: none;
}.fl_fb:hover {
color:#668ad8;
transition: .5s;
}.fl_fb .fbicon{
border-radius: 10px;
position: relative;
display: inline-block;
width: 50px;
height: 50px;
font-size: 35px;
line-height: 50px;
vertical-align: middle;
color: #FFF;
background: #4966a0;;
}.fl_fb .fbicon .fa-facebook {
position: absolute;
bottom: -3px;
right: 6px;
font-size: 42px;
} 
.fl_inst {
text-decoration: none;
display: inline-block;
text-align: center;
color: #2e6ca5;
font-size: 25px;
text-decoration: none;
}.fl_inst:hover {
color:#668ad8;
transition: .5s;
}.fl_inst .insta{
border-radius: 13px;
position: relative;
display: inline-block;
width: 50px;
height: 50px;
font-size: 35px;
line-height: 50px;
vertical-align: middle;
background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
overflow: hidden
}.fl_inst .insta:before{
content: '';
position: absolute;
top: 23px;
left: -18px;
width: 60px;
height: 60px;
background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
}.fl_inst .fa-instagram {
color:white;
line-height: 50px;
position: relative;
z-index: 2} 
